@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 200vh;
  display: grid;
  grid-template-rows: 1.3fr 1fr 1fr;
  background-color: #dbcbc5;
  margin: 0 15rem;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  justify-content: center;
}

.header {
  &__navbar {
    font-size: 1.5rem;
    height: 4rem;
   

    &__ul {
      list-style-type: none;
      display: inline-flex;
      height: 3rem;
      margin: 1rem;

      &__li {
        margin-right: 3rem;
        padding: 0.5rem 0.4rem 0.5rem;

        &:hover {
          border-radius: 5px;
          cursor: pointer;
          transform: translateY(3px);
        }
      }
    }
  }

  &__main {
    width: 70rem;
    height: 30rem;
    justify-content: center;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;

    &__text {
      padding: 2.5rem;

      &__h1 {
        padding-bottom: 2rem;
      }
    }

    &__user {
      width: 25rem;
      height: 25rem;
      &__img {
        padding: 3rem 2rem 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  width: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card-1 {
    padding: 2rem;
    width: 30rem;
    height: 20rem;
    background-color: #f3eeed;

    &__h2 {
      padding-top: 1rem;
    }

    &__p {
      padding-top: 2rem;
    }
  }

  &__card-2 {
    padding: 2rem;
    width: 30rem;
    height: 20rem;
    background-color: #f3eeed;

    &__h2 {
      padding-top: 1rem;
    }

    &__p {
      padding-top: 2rem;
    }
  }
}

.footer {
  display: grid;
  grid-template-rows: 1fr 4fr 4fr 2fr;
  width: 60rem;
  margin-left: 5rem;

  &__box1 {
    text-align: start;
    padding-left: 2rem;
    border-bottom: 1px solid #ffe6e6;
  }

  &__box2 {
    display: grid;
    grid-template-columns: 1fr 4fr;

    &__art {
      padding: 1rem;
      width: 10rem;
      height: 10rem;

      &__img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }

    &__text {
      align-self: center;
    }
  }

  &__box3 {
    display: grid;
    grid-template-columns: 1fr 4fr;

    &__text {
      align-self: center;
    }
  }

  &__box4 {
   
    &__ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60rem;
    
      &__li {
        padding: 2rem;
        height: 3rem;

        .fab {
            color: #BFFFDB;
            width: 2rem;
            height: 5rem;

            &:hover {
                transform: translateY(6px);
            }
        }

      }
    }
  }
}
